body{
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7ff4dd4b-9570-402a-b435-6ee1e4e89aef/dedhu8w-d71771f1-9fd0-475c-a64d-4b72dde3a129.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdmZjRkZDRiLTk1NzAtNDAyYS1iNDM1LTZlZTFlNGU4OWFlZlwvZGVkaHU4dy1kNzE3NzFmMS05ZmQwLTQ3NWMtYTY0ZC00YjcyZGRlM2ExMjkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HLGCkRm8CJtoT-CWIsvNPi0ZqICPvW2TTQvCbAOp_dA);
    background-repeat: no-repeat;
    background-size: cover;
}
#Footer{
    position: absolute;
    bottom: 0;
    right: 500pt;
    color: rgb(64, 8, 219);
    font-family: 'Sigmar';
    text-align:left
}



/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Caveat";
  font-size: 24px;
  font-weight: 1000;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}
